.idea

# Node
node_modules/
.env

# Hardhat
cache/
artifacts/
typechain-types/

# Coverage
coverage/
coverage.json

# Go
/bin
/pkg
*.exe
*.test
*.out
logs
deployed_contracts.json
contracts/MyToken.json